<h1>Edit Recipe</h1>

<%= form_tag "/recipe/#{@recipe.id}", method: :patch do %>
<div>
Title: <input type="text" name= "title" value="<%= @recipe.title %>">
 </div>
<div>
Chef: <input type="text" name= "title" value="<% @recipe.chef %>">
 </div>
<div>
Ingredients: <input type="text" name= "title" value="<% @recipe.ingredients %>">
 </div>
<div>
Directions: <input type="text" name= "title" value="<% @recipe.directions %>">
</div>
<input type="submit" value="update">
  <% end %>